.card-link {
  position: relative;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  height: 80px;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
}
.card-link .url,.card-link .card-link-content {
  text-decoration: none;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  background-color: hsla(0, 0%, 96.5%, 0.88);
  box-sizing: border-box;
}
.card-link [cardlink-left] .card-link-text {
  order: 1;
}
.card-link [cardlink-left] .card-link-icon {
  margin: 0 8px 0 0;
}
.card-link .card-link-text {
  flex: 1;
}
.card-link .card-link-title {
  max-height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #121212;
  margin: 0 0 5px;
  letter-spacing: 0.2px;
  word-break: break-all;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.card-link .card-link-url {
  display: -webkit-box;
  font-size: 13px;
  color: #999;
  margin: 0;
  line-height: 1.3;
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.card-link .card-link-url svg {
  float: left;
  margin: 2px 5px 0 0;
}
.card-link .card-link-icon {
  width: 60px;
  height: 60px;
  margin: 0 0 0 8px;
  overflow: hidden;
  border-radius: 6px;
  object-fit: contain;
}
